body {
    background-image: url("https://larepublica.cronosmedia.glr.pe/original/2022/07/06/62c60a94e0652b3a7d708381.jpg");
    background-size: cover;
}

#titulo {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
}

#escoge-personaje{
    background-color: blue;
}

input{
    display: none;
}

.tarjetas{
    display: flex;
    gap: 10px;
    gap: 10px;
    justify-content: center;
    gap: 60px;
    font-size: 22px;
    color: white;
}

h2 {
    background-color: blue;
    color: white;
}